.vscode/
Backup/
Experts/MACD Sample.ex4
Experts/MACD Sample.mq4
Experts/Moving Average.ex4
Experts/Moving Average.mq4
Experts/mqlcache.dat
Experts/
Experts/
Files/
Images/
Indicators/
Libraries/
Logs/
Presets/
Projects/
Scripts/Examples/
Shared Projects/